/*STARTHERE*/
div#outer-human-activity{
	 /*Длина и высота outer блока*/
	height: 70px;
	width: 200px;
	 /*фиксирование, плавание*/
	position: fixed;
	z-index: 101;
	 /*Прижатие левому краю*/
	float: left;
	left: 0px;
	bottom: -2px;
	 /*стиль блока outer*/
	border-radius: 0 10px 0 0;
	background: #F9F9F9;
	 /*Центрирование по горизонтали*/
	display: flex;
	justify-content: center;
	align-items: center;
}
div#inner-human-activity{
	width: auto;
	height: auto;
	 /*Центрирование по вертикали*/
	position: absolute;
	top: 35%;
	margin-top: -0.625em;
}
div#wrapper1-human-activity{
	float: left;
	margin-right: 5px;
}
div#online-activity{
	font-size: 20px;
	padding-bottom: 5px;
	font-family: Arial;
}
div#activity-gpoint{
	 /*Центрирование по горизонтали*/
	width: 8px;
	height: 8px;
	 /*Стиль блока*/
	border-radius: 100%;
	background-color: #66FF66;
	 /*На одну линию*/
	float: left;
	 /*Позиционирование gpoint-а*/
	margin-right: 3px;
	margin-top: 8px;
}
div#other-places{
	font-size: 16px;
	font-family: Arial;
}
div#wrapper2-human-activity{
	float: left;
	font-family: Arial;
}
p#human-activity{
	 /*На одну линия, цифры*/
	display: inline-flex;
	margin: 0;
	 /*Стиль цифры*/
	font-size: 20px;
	color: #BBE466;
	padding-bottom: 5px;
}
p#other-places-number{
	 /*На одну линия, цифры*/
	display: inline-flex;
	margin: 0;
	 /*Стиль цифры*/
	font-size: 18px;
	color: #BBE466;
}
/*ENDSHERE*/
.wrapper-popup{
	position: absolute;
	z-index: 100;
}
.btn{
	display: block;
	width: 220px;
	text-align: center;
	color: darkcyan;
	border: 1px solid darkcyan;
	padding: 15px 0;
	cursor: pointer;
}
.popup-block{
	/*position*/
	position: fixed;
	display: block;
	float: right;
	right: 5px;
	bottom: -999px;
	transition: 1s all; 
	/*styles*/
	width: 200px;
	height: 70px;
	background-color: #F9F9F9;
	color: black;
	border-radius: 10px;
	text-align: center;
}
#popup-p1{
	color: #1DC189;
	padding: 0;
	margin-bottom: 5px;
	font-size: 20px;
	margin-top: 10px;
	font-family: Arial;
}
#popup-p2{
	font-family: Arial;
	color: white;
	background-color: #FF0000;
	border-radius: 5px;
	margin: 0 auto;
	padding-left: 5px;
	padding-right: 5px;
	width: 78%;
}
#modalpopup{
	display: none;
}
#modalpopup:checked ~.popup-block{
	bottom: 5px;
}
.close-popup{
	position: absolute;
	top: 5px;
	right: 10px;
	transform: rotate(45deg);
	font-size: 24px;
	cursor: pointer;
}
